<div class="container" style="margin-top: 120px;">
  <h2 class=list-banner><%= @list.name %></h2>
  <% @list.bookmarks.each do |bookmark| %>
  <div class="card d-inline-flex mt-5" style="width: 18rem;">
    <%= image_tag bookmark.movie.poster_url, alt: "", class:"card-img-top" %>
    <div class="card-body">
        <p class="card-title font-weight-bold"><%= bookmark.movie.title %> | <%= bookmark.movie.rating %> 🖤</p>

      <p class="card-text"><%= bookmark.movie.overview %></p>
      <div class="d-flex justify-content-between">
        <p><i class="fas fa-quote-left"></i> <%= bookmark.comment %></p>
        <%= link_to "Delete",
                    list_bookmark_path(list_id: @list, id:bookmark.id),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="container">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs mt-4">
      <%= f.association :movie %>
      <%= f.input :comment %>
    </div>

    <div class="form-actions mb-4">
    <%= f.button :submit, class:"btn btn-success"%>
    </div>
  <% end %>
</div>
